<ion-view view-title="KPI">
  <ion-content>
    <section class="kpi-tile">
      <header class="col">
        <h1>KPI</h1>
      </header>

      <div class="row">
        <div class="col col-33">
          <aside>
            <span>12 IO</span>
            <i class="ion-arrow-right-c"></i>
          </aside>
        </div>

        <div col="col col-67">
          <article>
            <div id="kpi-chart"></div>
          </article>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
